body{
    margin:0;
}
header{
    height:20vh;
    width:100vw;
    background-color: #c5c5c5;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 20vh;
    width: 100vw;
    background-color: #9d9d9d;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height: 60vh;
    color:white;
}
.magic_box{
    display: flex;
    width:100vw;
}
.top_item{
    height:50%;
    width: 100%;
    background-color: #4f4f4f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom_item{
    height: 50%;
    background-color: #605f5f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:60vw
}
.container2{
    width: 40vw;
}
#item1{
    height: 33%;
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#item2{
    height: 34%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
#item3{
    height: 33%;
    background-color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
}