body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header{
    width:100vw;
    height: 20vh;
    background-color: #605f5f;
}
.main{
    width:65vw;
    height: 75vh;
    margin-top:10px;
    margin-right:5px;
    margin-left:5px;
    background-color: #7c7b7b;
}
.sidebar{
    width: 25vw;
    height:75vh;
    margin-top: 10px;
    background-color: dimgrey;
}
@media screen and (max-width: 414px){
    .main{
        width: 100vw;
        height:60vh;
    }
    .sidebar{
        width: 100vw;
        height:20vh;
    }
}