body{
    margin:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
header{
    width: 100vw;
    height:30vh;
    background-color: #7c7b7b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.columns{
    margin-top:10px;
    display: grid;
    height: 60vh;
    width:60vw;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 10px;
}
.item{
    background-color: #603f3f;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last{
    height:60vh;
    width: 26vw;
    background-color: aqua;
    margin-top:10px;
    margin-left:35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 414px){
    .last{
        height:30vh;
        width: 100vw;
        background-color: darkred;
        margin-left:-20px;
    }
    .columns{
        width: 100vw;
        height:50vh;
    }
}