div {
    height: 200px;
    width: 200px;
    background-color: teal;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4%;
    margin-left: 1%;
}
section {
display: flex;
align-items: center;
justify-content: space-around;
}
p {
    text-align: center;
    font-size: 20px;
    margin-top:40%
}
#RP {
    font-family: 'Rubik Pixels', cursive;
}
#SAD {
    font-family: 'Sedgwick Ave Display', cursive;
}
#IF {
    font-family: 'Indie Flower', cursive;
}
#FO {
    font-family: 'Fjalla One', sans-serif;
}
#DS {
    font-family: 'Dancing Script', cursive;
}